
body { 
    font-family: Arial;
     margin: 0;
     }
.header { 
        background: #004a99;
        color: white;
        padding: 15px;
        display: flex;
        justify-content: space-between; 
    }
.menu span {
            margin-left: 20px; 
            cursor: pointer;    
            text-decoration: underline;
         }
.tab {
     padding: 40px; 
     text-align: center;
     }

/* Room box  */
.room_card {
     border: 2px solid #333;
     margin: 10px; padding: 15px; 
     display: inline-block;
     width: 200px;      
     border-radius: 8px;
     }
button { 
    background: #ff9900;
    padding: 10px; 
    border: none;
    cursor: pointer; 
    font-weight: bold;
     }